<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Test Suite" parallel="false">

    <listeners>
        <listener class-name="testproject.base.TestListener"/>
    </listeners>

    <test name="test 1">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>

    <test name="test 2">
        <classes>
            <class name="tests.CareersPageTest"/>
        </classes>
    </test>

    <test name="test 3">
        <classes>
            <class name="tests.QAJobsPageTest"/>
        </classes>
    </test>

    <test name="test 4">
        <classes>
            <class name="tests.QAJobsDetailsPageTest"/>
        </classes>
    </test>

    <test name="test 5">
        <classes>
            <class name="tests.ViewRolePageTest"/>
        </classes>
    </test>


</suite>